body{
    margin: 0;
    height: 100%;
    overflow: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(#ffffff, #4CAF50);
}
.calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 80%;
    background: linear-gradient(#7eb5fc, #036ffc);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px #036ffc;
}
.showOutput{
    margin: auto;
    padding: 30px;
    text-align: end;
    font-size: 40px;
    width: 90%;
    height: 20%;
    background:#f5f3f2;
    border-radius: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: 2px 2px 5px #036ffc;
    box-sizing: border-box;
    font-family: "Lobster", cursive;
}
.keyBoard{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70%;
    background: lightgray;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px #036ffc;
    
}
.key{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 20%;
    height: 15%;
    background: lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #036ffc;
    cursor: pointer;
    font-family: "Lobster", cursive;
}
.key:hover{
    background-color: #4CAF50;
}
.key:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
h1{
    color: #4ECCA3;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    width:50vw;
    font-family: "Lobster", cursive;
}